Vehicle insurance fraud using machine learning.

Insurance fraud is a big problem for insurance companies as such, this project aims to detect insurance fraud using machine learning. The project consists of two parts: Jupyter notebook and a web application.The Jupyter notebook for data analysis and machine learning model building and the web application for deploying the model. 

Installation Requirements
1. Jupyter Notebook
2. Python 3.9
3. Pandas
4. Numpy
5. Matplotlib
6. Seaborn
7. Scikit-learn
8. Joblib

### Dataset Used
